@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

html, body {
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2a1516;
}

h1 {
    /*text-shadow: -1px 0 #986e14, 0 1px #986e14, 1px 0 #986e14, 0 -1px #986e14; */
    text-align: center;
    color: #fbdd63;
    font-size: 7vh;
    font-family: 'Raleway', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

h2 {
    margin: 0;
    text-align: center;
    color: #fbdd63;
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
}

#about h2 {
    padding-top: 3%;
}

p, a, button {
    font-size: 1.1rem;
    line-height: 1.75;
}

/* -------------------------------------------------------------------------- */
/*NAVBAR*/
nav {
    background-color: #2a1516;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 2;
    justify-items: stretch;
    margin-left: 0;

}

ul#menu li, ul#menus li {
    display: inline;
    padding-inline-end: 2%;
}

li a, b {
    color: #fbdd63;
    text-decoration: none;
}

nav ul {
    margin-left: 0;
    padding-left: 0;
}

/* -------------------------------------------------------------------------- */
/* HEADER */
header {
    height: 100vh;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.hero {
    padding-top: 20vh;
}

/* -------------------------------------------------------------------------- */
/* ABOUT */
.persona {
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.image-box {
    width: 300px;
    height: 200px;
    background-color: turquoise;

}
.image-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.gridd {

    padding: 7% 7%;
    display: grid;
    grid-gap: 4rem;
}

.cardd {
    border-color: #fbdd63;
    border-style: solid;
    text-align: left;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 1.75rem;
}

.cardd p, ul {
    color: white;
}

.cardd:nth-of-type(2) {
    padding: 0;
    border-color: pink;
    border-style: none;
    background-color: #2a1516;
}

/* -------------------------------------------------------------------------- */
/* MISCELLANEOUS */
.grid {
    padding: 7% 7%;
    margin: 0 auto;
    display: grid;
    grid-gap: 4rem;
    text-align: justify;
}

.card {
    padding: 3vh;
    text-align: center;
    border-color: #fbdd63;
    border-style: solid;
}

.card p, ul {
    color: white;
}

.button {
    background-color: #fbdd63; /* Green */
    border: none;
    color: #2a1516;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 18px;*/
    margin: 4px 2px;
    cursor: pointer;

}

.photo {
    width: 100%;
    padding-top: 10%;
}

/* -------------------------------------------------------------------------- */
/*CONTACTS*/
#contacts {
    text-align: center;
    padding-bottom: 3rem;
    background-color: #fbdd63;
}

#contacts h2 {
    color: #2a1516;
    background-color: #fbdd63;
    padding-top: 3%;
}

#contacts ul {
    padding: 0;
}

.contact-photo {
    width: 50px;
}

/* -------------------------------------------------------------------------- */
/* FOOTER */
footer p {
    /*color: #f0a04b;*/
    margin: 0;
    color: #fbdd63;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

/* -------------------------------------------------------------------------- */
/*RESPONSIVE*/
/* Screen larger than 900px? 2 column */

@media (max-width: 900px) {
    .persona {
        max-width: 100%;
    }
}


@media (min-width: 900px) {
    .grid, .gridd {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Screen larger than 1500px? 3 column */
@media (min-width: 1500px) {
    .grid, .gridd {
        grid-template-columns: repeat(3, 1fr);
    }
}
