@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

html{
    background: #fefbe9;
    /*background: #383838;*/
    background-size: cover;
    color: #f6c453;
    font-family: 'Ubuntu', sans-serif;
}

h1,a{

    margin-top:  70px;
    margin-left: 40px;
    color: #f0a04b;
    /*color: blanchedalmond;*/
}


p{
    margin-left: 100px;
    color: #183a1d;


}


img, h2{
    width: 500px;
    margin-left: 40px;
    /*border-color: blue;
    border-style: dashed;*/
    border-radius: 10px;
}

.photo{
    width: 100px;
}

.person{
    width: 250px;
    display: inline;
}


